.card {
  background-color: #f6a700;
  border: 20px solid transparent; 
  border-image: url('/src/images/bordes.jpg') 30% round;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  &:hover {
    transform: scale(1.1);
  }
  @media (min-width: 768px) {
    font-size: 1.3rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.5rem;
  }
}
