@import'core/reset.scss';

.father{
background-color:darkcyan;
}

img{
    width: 150px;
    height: 200px;
}

.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    
}
.detail{
   text-align: center;
}

.button{
  border-radius: 30px;
  border: 2.5px solid brown;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 51px;
  margin-left: 12px;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}