@import "core/reset.scss";
@import "layaut/Header.scss";
@import "layaut/Button.scss";
@import "layaut/Footer.scss";
@import "layaut/Card.scss";
@import "layaut/Form.scss";

body {
  background-color: #641c34;
}

.father {
  background-image: url("/src/images/imagenfondo3.jpg");
  background-size: cover;
  background-color: darkcyan;
  font-family: "Benne", serif;
  margin-bottom: 10%;
}

img {
  width: 150px;
  height: 200px;
}

.container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  list-style: none;
}
.detail {
  background-color: #641c34;
  color: #f6a700;
  text-align: center;
  font-size: 1.8rem;
}
.imgCard {
  border: 5px solid #f6a700;
  border-radius: 5px;
}

.link--volver {
  font-size: 2rem;
  color: darkcyan;
  text-decoration: none;
  margin-left: 10px;
}
.div {
  background-color: #641c34;
}

.msg {
  text-align: center;
  color: green;
  font-size: 2rem;
  font-weight: bolder;
}
li {
  list-style: none;
}
.coverhouse {
  height: 100px;
  width: 100px;
  border: 3px solid #f6a700;
}
