@import'core/reset.scss';

.father{
background-color:darkcyan;
}

img{
    width: 150px;
    height: 200px;
}

.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    
}
.detail{
   text-align: center;
}